.prayers-data {
  width: 100%;
  line-height: 1.8em;
  border-collapse: separate;
  border-spacing: 3px;
}

#prayers-times td {
  width: 11%;
}

#prayers-times-mobile td {
  width: 25%;
}

.prayers-data th,
.prayers-data td {
  text-align: center;
  vertical-align: middle;
}

.prayers-data thead th:empty {
  background: transparent !important;
  border: none !important;
}

#prayers-block td:nth-child(2),
#prayers-block td:nth-child(3) {
  width: 35%;
}

#prayers-times tbody tr:first-child td,
#prayers-block tbody tr#prayers-current td {
  border: 1px solid #ccc;
}

#prayers-times-footer {
  margin-top: 10px;
}

.prayers-data div {
  float: left;
}

.prayers-sep {
  padding-left: 1px;
  padding-right: 1px;
}

table div.prayers-hour {
  width: 45%;
  text-align: right;
}

#prayers-block td:empty {
  background-image: url("cross.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#prayers-times-mobile {
  display: none;
}
